<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-9-desktop is-10-tablet">
				<div class="block has-text-centered">
					<!-- <span class="is-block mb-4 text-white is-capitalized">Small help can make change</span> -->
					<h1 class="mb-5">New hope for <br>near future</h1>
					<p class="mb-6">We are a Public Charitable Trust dedicated to providing value-based education to disadvantaged children in our society. Our mission involves mentoring underprivileged youth, fostering their personal and academic growth. In addition to their chosen career paths, we offer coaching, soft skill training, critical life competencies, leadership development, personal enrichment, wellness programs, and comprehensive grooming. Our goal is to transform these young individuals into productive human resources for our nation.”</p>
					<!-- <a href="#" target="_blank" class="btn btn-main is-rounded">Donate Now</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
